body {
    font-family: serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header, .footer {
    background: #14155598; 
    color: white;
    padding: 20px;
    text-align: center;
}

.logo {
    font-size: 2.5em;
}

.menu, #ulmenu {
    list-style: none;
    padding: 0;
}

.menu li, #ulmenu li {
    display: inline;
    margin: 0 15px;
}

.menu a, #ulmenu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.presentacion, .boxdetalle {
    text-align: center;
    padding: 20px;
    background: #81ade69f;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.productos-title, h2 {
    text-align: center;
    margin: 20px 0;
}

.productos-container, #boxproductos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.productos-container div, .boxdetalle {
    background: #595f86e0;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    padding: 30px;
    width: 80%;
    max-width: 800px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.productos-container img, .boxdetalle img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}

.precio {
    font-size: 1.8em;
    color: #2c3e50;
    font-weight: bold;
    margin-top: 10px;
}

.boxcontador {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.boxcontador button, button {
    background: #2e3594b4;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 5px;
    transition: background 0.3s ease, transform 0.2s;
}

.boxcontador button:hover, button:hover {
    background: #201e91cc;
    transform: scale(1.05);
}

button {
    background: #c9a33cd8;
}

button:hover {
    background: #694c15d8;
}

table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #2c3e50;
    color: white;
    font-size: 1.1em;
}

tbody tr:hover {
    background-color: #e0e7ff;
}

main {
    max-width: 500px;
    align-items: center;
    margin: 40px auto;
    padding: 50px;
    background-color: #74b3ee77;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.campo {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
